<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <form (ngSubmit)="load()" [formGroup]="searchForm">
          <div *ngFor="let f of searchControls" class="form-group col-md-6">
            <ng-template [ngIf]="f.type == 'input'">
              <label [for]="f.formControl">
                {{ f.label }}
              </label>
              <input [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
                [placeholder]="f.placeHolder" [type]="f.typeof" class="form-control" />
            </ng-template>
            <ng-template [ngIf]="f.type == 'textarea'">
              <label [for]="f.formControl">
                {{ f.label }}
              </label>
              <textarea [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
                [placeholder]="f.placeHolder" class="form-control">
              </textarea>
            </ng-template>
            <ng-template [ngIf]="f.type == 'checkbox'">
              <div class="checkbox">
                <label>
                  <input [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
                    type="checkbox" />
                  {{ f.label }}
                </label>
              </div>
            </ng-template>
            <ng-template [ngIf]="f.type == 'select'">
              <label [for]="f.formControl">
                {{ f.label }}
              </label>
              <select [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
                class="form-control">
                <option *ngFor="let option of f.data" [value]="option['value']">
                  {{ option["name"] }}
                </option>
              </select>
            </ng-template>
            <ng-template [ngIf]="f.type == 'select2'">
              <label [for]="f.formControl">
                {{ f.label }}
              </label>
              <angular2-multiselect [data]="f.data" [formControlName]="f.formControl" [id]="f.formControl"
                [settings]="f.config">
              </angular2-multiselect>
            </ng-template>
          </div>
          <div class="col-md-12">
            <button class="btn btn-default" type="submit">Tìm kiếm</button>
            <button (click)="removeFilter()" class="btn btn-default" type="button">Xóa lọc</button>
          </div>
        </form>
      </div>
      <div class="col-xs-6 col-xs-offset-6">
        <button (click)="createOrder()" class="btn btn-primary pull-right" type="button">
          <i class="fa fa-plus"></i> Thêm mới
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body no-padding">
    <table class="table-responsive table table-bordered table-hover">
      <thead>
        <tr>
          <th style="width: 15%">Mã đơn</th>
          <th style="width: 20%">Khách hàng</th>
          <th style="width: 45%">Thông tin</th>
          <th style="width: 10%">Thanh toán</th>
          <th style="width: 10%">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list; let i = index" class="odd">
          <td class="text-center">
            <label style="display: block">{{ item.code }}</label>
            <label class="label label-status" style="padding: 5px 10px"
            [ngClass]="{
              'label-1':item.order_status == 'Lên đơn',
              'label-2':item.order_status == 'Xác nhận',
              'label-3':item.order_status == 'Chuẩn bị hàng',
              'label-4':item.order_status == 'Đã chuẩn bị hàng',
              'label-5':item.order_status == 'Đang giao',
              'label-6':item.order_status == 'Hoàn thành',
              'label-7':item.order_status == 'Hủy đơn',
              'label-8':item.order_status == 'Hoàn hàng',
              'label-9':item.order_status == 'Đã hoàn hàng',
              'label-10':item.order_status == 'Đã hoàn tiền'
            }">{{ item.order_status }}</label>
            <p style="margin: 10px 0 0">
              {{ item.created_at | date : "yyyy-MM-dd" }}
            </p>
            <p>{{ item.created_at | date : "HH:mm:ss" }}</p>
          </td>
          <td>
            <p>{{ item.customer_name }}</p>
            <p>{{ item.customer_phone }}</p>
            <p>{{ item.customer_text }}</p>
            <label>
              <textarea *ngIf="item.customer_request" [cols]="30" [rows]="5" [value]="item.customer_request" readonly
                style="min-width: 200px; max-width: 200px"></textarea>
            </label>
          </td>
          <td>
            <table class="table-responsive table table-bordered">
              <thead>
                <tr>
                  <th style="width: 50%">Sản phẩm</th>
                  <th style="width: 20%">Loại</th>
                  <th style="width: 10%">S/L</th>
                  <th style="width: 20%">Giá tiền</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of item.details">
                  <td>
                    <p><label>{{ d.product_code }}</label> - {{ d.product.name }}</p>
                  </td>
                  <td>
                    <span style="display: block">{{ d.size }} - {{ d.color }}</span>
                  </td>
                  <td class="text-right">
                    {{ d.quantity | number : "1.0-0" }}
                  </td>
                  <td class="text-right">
                    {{ d.quantity * d.unit_price | number : "1.0-0" }}
                  </td>
                </tr>
                <tr>
                  <th class="text-right" colspan="3">Thành tiền</th>
                  <td class="text-right">
                    {{ item.amount | number : "1.0-0" }}
                  </td>
                </tr>
                <tr>
                  <th class="text-right" colspan="3">Phí ship</th>
                  <td class="text-right">
                    {{ item.shipping_fee | number : "1.0-0" }}
                  </td>
                </tr>
                <tr *ngIf="item.discount > 0">
                  <th class="text-right" colspan="3">Giảm giá</th>
                  <td class="text-right">
                    {{ item.discount | number : "1.0-0" }}
                  </td>
                </tr>
                <tr>
                  <th class="text-right" colspan="3">Tổng tiền</th>
                  <th class="text-right">
                    {{ item.total_amount | number : "1.0-0" }}
                  </th>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="text-center">
            <label class="label"
            [ngClass]="{
              'label-primary':item.payment_type == 'CoD',
              'label-warning':item.payment_type == 'VNPay',
              'label-danger':item.payment_type == 'Momo'
            }">{{ item.payment_type }}</label>
            <label *ngIf="item.payment_status == 0" class="label label-default"
              style="padding: 10px; display: block; margin: 10px">Chưa thanh toán</label>
            <label *ngIf="item.payment_status == 1" class="label label-success"
              style="padding: 10px; display: block; margin: 10px">Đã thanh toán</label>
            <label>
              <textarea *ngIf="item.note" [cols]="30" [rows]="7" [value]="item.note" readonly style="min-width: 100px; max-width: 100px"></textarea>
            </label>
          </td>
          <td class="text-center">
            <button *ngIf="item.order_status == 'Lên đơn'" style="width: 65px; margin-bottom: 5px"
              (click)="confirm(item)" class="btn btn-success btn-sm" type="button">
              <i aria-hidden="true" class="fa fa-check"></i>
            </button>
            <!-- Sửa + hủy -->
            <div style="display: block" *ngIf="item.order_status == 'Lên đơn' || item.order_status == 'Xác nhận' || item.order_status == 'Chuẩn bị hàng' || item.order_status == 'Đang giao'">
              <button *ngIf="item.order_status != 'Đang giao'" (click)="editOrder(item)" class="btn btn-default btn-sm" type="button" style="width: 30px; height: 30px;">
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button *ngIf="item.order_status != 'Lên đơn' || item.payment_status == 1" (click)="cancel(item)" class="btn btn-danger btn-sm" type="button" style="width: 30px; height: 30px;">
                <i class="fa fa-remove"></i>
              </button>
              <button *ngIf="item.order_status == 'Lên đơn' && item.payment_status == 0" class="btn btn-danger text-center btn-config" type="button" mwlConfirmationPopover
                popoverTitle="Xóa" popoverMessage="Bạn thực sự muốn xóa ?" placement="top"
                confirmText="Yes <i class='fa fa-check'></i>" cancelText="No <i class='fa fa-remove'></i>"
                (confirm)="remove(item, i)" style="width: 30px; height: 30px; padding: 0;">
                <i class="fa fa-remove" style="margin: auto"></i>
              </button>
            </div>
            <!-- Hoàn tiền -->
            <div style="display: block" *ngIf="!item.shipping">
              <button *ngIf="item.order_status == 'Hủy đơn' && item.payment_status == 1" (click)="refund(item)" title="Hoàn tiền" class="btn btn-warning btn-sm" type="button">
                <i class="fa fa-money"></i>
              </button>
            </div>
            <!-- Hoàn hàng -->
            <div *ngIf="item.shipping">
              <button *ngIf="item.order_status == 'Hủy đơn' || item.order_status == 'Hoàn thành'" (click)="return(item)" title="Hoàn hàng"  class="btn btn-info btn-sm" type="button">
                <i class="fa fa-archive"></i>
              </button>
              <button *ngIf="item.order_status == 'Hoàn hàng'" class="btn btn-primary text-center btn-config" type="button" mwlConfirmationPopover
                popoverTitle="Đã hoàn hàng" popoverMessage="Xác nhận đã nhận hàng hoàn ?" placement="top"
                confirmText="Yes <i class='fa fa-check'></i>" cancelText="No <i class='fa fa-remove'></i>"
                (confirm)="returned(item, i)" style="width: 30px; height: 30px; padding: 0;">
                <i class="fa fa-check" style="margin: auto"></i>
              </button>
              <ng-template [ngIf]="item.order_status == 'Đã hoàn hàng'">
                <button  *ngIf="item.payment_status == 1 || item.is_completed == 1" (click)="refund(item)" class="btn btn-warning btn-sm" type="button">
                  <i class="fa fa-money"></i>
                </button>
              </ng-template>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6">
        <pagination (numPages)="pagination.numPages = $event" (pageChanged)="pageChanged($event)"
          [(ngModel)]="pagination.currentPage" [boundaryLinks]="true" [itemsPerPage]="pagination.itemsPerPage"
          [maxSize]="pagination.maxSize" [totalItems]="pagination.totalItems" class="pagination-sm"></pagination>
      </div>
      <div class="col-xs-6">
        <div class="box-go-to">
          <input [(ngModel)]="nextPage" class="col-xs-2" type="number" />
          <span class="col-xs-1">/</span>
          <input [(ngModel)]="pagination.numPages" class="col-xs-2" disabled type="text" />
          <div class="col-xs-4">
            <button (click)="goToPageNumber()">Đến</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
