.order-code {
  width: 130px;
  overflow: hidden;
}

.label-status {
  font-size: 12px;
}

.label-1 {
  background: rgb(0, 145, 65);
}

.label-2 {
  background: rgb(0, 130, 139);
}

.label-3 {
  background: rgb(141, 135, 48);
}

.label-4 {
  background: rgb(136, 93, 30);
}

.label-5 {
  background: rgb(177, 115, 0);
}

.label-6 {
  background: rgb(16, 192, 0);
}

.label-7 {
  background: rgb(228, 0, 0);
}

.label-8 {
  background: rgb(210, 0, 230);
}

.label-9 {
  background: rgb(238, 75, 0);
}

.label-10 {
  background: rgb(199, 113, 0);
}
