<div class="modal-header bg-primary">
  <h4 class="modal-title pull-left">Hủy đơn hàng</h4>
  <button (click)="dismiss()" aria-label="Close" class="close pull-right" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="formGroup" novalidate>
        <div *ngFor="let f of fields" [ngClass]="{ 'has-error': !formGroup.controls[f.formControl].valid }"
             class="form-group">
          <ng-template [ngIf]="f.type == 'input'">
            <label [for]="f.formControl">
              {{ f.label }}
            </label>
            <input [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl" [placeholder]="f.placeHolder"
                   [type]="f.typeof" class="form-control"/>
          </ng-template>
          <ng-template [ngIf]="f.type=='textarea'">
            <label [for]="f.formControl">
              {{f.label}}
            </label>
            <textarea [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl" [placeholder]="f.placeHolder"
                      [rows]="5" class="form-control">
          </textarea>
          </ng-template>
          <ng-template [ngIf]="f.type == 'select'">
            <label [for]="f.formControl">
              {{ f.label }}
            </label>
            <select [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl" class="form-control">
              <option *ngFor="let option of f.data" [value]="option[f.config['primaryKey']]">
                {{ option[f.config["labelKey"]] }}
              </option>
            </select>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button (click)="cancel()" [disabled]="!formGroup.valid" class="btn btn-primary" type="button">
    Hủy đơn
  </button>
  <button (click)="dismiss()" class="btn btn-default" type="button">
    Hủy bỏ
  </button>
</div>
