<div class="modal-header bg-primary">
  <h4 class="modal-title pull-left">Thêm mới gán tag</h4>
  <button (click)="dismiss()" aria-label="Close" class="close pull-right" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row margin-bottom">
    <div class="col-xs-12">
      <form (ngSubmit)="loaded()" [formGroup]="formGroup">
        <div *ngFor="let f of fields" class="form-group col-md-6">
          <ng-template [ngIf]="f.type == 'input'">
            <label [for]="f.formControl">
              {{ f.label }}
            </label>
            <input [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
              [placeholder]="f.placeHolder" [type]="f.typeof" class="form-control" />
          </ng-template>
          <ng-template [ngIf]="f.type == 'textarea'">
            <label [for]="f.formControl">
              {{ f.label }}
            </label>
            <textarea [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
              [placeholder]="f.placeHolder" class="form-control">
            </textarea>
          </ng-template>
          <ng-template [ngIf]="f.type == 'checkbox'">
            <div class="checkbox">
              <label>
                <input [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
                  type="checkbox" />
                {{ f.label }}
              </label>
            </div>
          </ng-template>
          <ng-template [ngIf]="f.type == 'select'">
            <label [for]="f.formControl">
              {{ f.label }}
            </label>
            <select [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
              class="form-control">
              <option *ngFor="let option of f.data" [value]="option['id']">
                {{ option["name"] }}
              </option>
            </select>
          </ng-template>
        </div>
        <div class="col-md-12">
          <button class="btn btn-default" type="submit">Tìm kiếm</button>
          <button (click)="removeFilter()" class="btn btn-default" type="button">Xóa lọc</button>
        </div>
      </form>
    </div>
    <div class="col-xs-6 col-xs-offset-6">
      <button (click)="assignAll()" class="btn btn-primary pull-right" [disabled]="list == []" type="button">Gán tất cả</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th style="width: 10%;">#</th>
            <th style="width: 20%;">Ảnh sản phẩm</th>
            <th style="width: 60%;">Tên sản phẩm</th>
            <th style="width: 10%;">Thao tác</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of list;let i = index" class="odd">
          <td class="text-center">{{i + 1}}</td>
          <td class="text-center"><img [alt]="item.name" [src]="item.image" class="img-thumb" width="100px"/></td>
          <td>{{item.name}}</td>
          <td class="text-center">
            <button (click)="assign(item)" class="btn btn-primary btn-sm" type="button">
              <i aria-hidden="true" class="fa fa-plus"> Thêm</i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button (click)="dismiss()" class="btn btn-default" type="button">Hủy bỏ</button>
</div>
