<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <form (ngSubmit)="load()" [formGroup]="searchForm">
          <div *ngFor="let f of searchControls" class="form-group col-md-6">
            <ng-template [ngIf]="f.type == 'input'">
              <label [for]="f.formControl">
                {{ f.label }}
              </label>
              <input [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
                [placeholder]="f.placeHolder" [type]="f.typeof" class="form-control" />
            </ng-template>
            <ng-template [ngIf]="f.type == 'textarea'">
              <label [for]="f.formControl">
                {{ f.label }}
              </label>
              <textarea [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
                [placeholder]="f.placeHolder" class="form-control">
              </textarea>
            </ng-template>
            <ng-template [ngIf]="f.type == 'checkbox'">
              <div class="checkbox">
                <label>
                  <input [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
                    type="checkbox" />
                  {{ f.label }}
                </label>
              </div>
            </ng-template>
            <ng-template [ngIf]="f.type == 'select'">
              <label [for]="f.formControl">
                {{ f.label }}
              </label>
              <select [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
                class="form-control">
                <option *ngFor="let option of f.data" [value]="option['value']">
                  {{ option["name"] }}
                </option>
              </select>
            </ng-template>
            <ng-template [ngIf]="f.type == 'select2'">
              <label [for]="f.formControl">
                {{ f.label }}
              </label>
              <angular2-multiselect [data]="f.data" [formControlName]="f.formControl" [id]="f.formControl"
                [settings]="f.config">
              </angular2-multiselect>
            </ng-template>
          </div>
          <div class="col-md-12">
            <button class="btn btn-default" type="submit">Tìm kiếm</button>
            <button (click)="removeFilter()" class="btn btn-default" type="button">Xóa lọc</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th style="width: 10%;">#</th>
        <th style="width: 10%;">Ảnh đại diện</th>
        <th style="width: 15%;">Tên đăng nhập</th>
        <th style="width: 15%;">Họ tên</th>
        <th style="width: 10%;">Số điện thoại</th>
        <th style="width: 10%;">Giới tính</th>
        <th style="width: 10%;">Ngày sinh</th>
        <th style="width: 10%;">Trạng thái</th>
        <th style="width: 10%;">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list;let i = index" class="odd">
        <td class="text-center">{{i + 1}}</td>
        <td class="text-center">
          <img [alt]="item.fullname" [src]="item.avatar" class="img-thumb" width="100px" />
        </td>
        <td>{{item.account.username}}</td>
        <td>{{item.fullname}}</td>
        <td class="text-center">{{item.phone}}</td>
        <td class="text-center">
          <span *ngIf="item.gender == 1">Nam</span>
          <span *ngIf="item.gender == 0">Nữ</span>
        </td>
        <td class="text-center">{{item.dob}}</td>
        <td class="text-center">
          <ui-switch (change)="onStatusChange(item,i,$event)" *ngIf="item.account.status == 0"></ui-switch>
          <ui-switch (change)="onStatusChange(item,i,$event)" *ngIf="item.account.status == 1"
            [checked]="item.account.status"></ui-switch>
        </td>
        <td class="text-center">
          <button (confirm)="remove(item, i)" cancelText="No <i class='fa fa-remove'></i>" class="btn btn-danger btn-sm"
            confirmText="Yes <i class='fa fa-check'></i>" mwlConfirmationPopover placement="top"
            popoverMessage="Bạn thực sự muốn xóa?" popoverTitle="Xóa" style="width: 30px; height: 30px; padding: 0;" type="button">
            <i aria-hidden="true" class="fa fa-remove"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="list.length > 0" class="panel-footer">
    <div class="row">
      <div class="col-xs-6">
        <pagination (numPages)="pagination.numPages = $event" (pageChanged)="pageChanged($event)"
          [(ngModel)]="pagination.currentPage" [boundaryLinks]="true" [itemsPerPage]="pagination.itemsPerPage"
          [maxSize]="pagination.maxSize" [totalItems]="pagination.totalItems" class="pagination-sm"></pagination>
      </div>
      <div class="col-xs-6">
        <div class="box-go-to">
          <input [(ngModel)]="nextPage" class="col-xs-2" type="number">
          <span class="col-xs-1">/</span>
          <input [(ngModel)]="pagination.numPages" class="col-xs-2" disabled type="text">
          <div class="col-xs-4">
            <button (click)="goToPageNumber()">Đến</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
