<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <form (ngSubmit)="load()" [formGroup]="searchForm">
          <div *ngFor="let f of searchControls" class="form-group col-md-6">
            <ng-template [ngIf]="f.type == 'input'">
              <label [for]="f.formControl">
                {{ f.label }}
              </label>
              <input [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
                [placeholder]="f.placeHolder" [type]="f.typeof" class="form-control" />
            </ng-template>
            <ng-template [ngIf]="f.type == 'textarea'">
              <label [for]="f.formControl">
                {{ f.label }}
              </label>
              <textarea [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
                [placeholder]="f.placeHolder" class="form-control">
              </textarea>
            </ng-template>
            <ng-template [ngIf]="f.type == 'checkbox'">
              <div class="checkbox">
                <label>
                  <input [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
                    type="checkbox" />
                  {{ f.label }}
                </label>
              </div>
            </ng-template>
            <ng-template [ngIf]="f.type == 'select'">
              <label [for]="f.formControl">
                {{ f.label }}
              </label>
              <select [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
                class="form-control">
                <option *ngFor="let option of f.data" [value]="option['id']">
                  {{ option["name"] }}
                </option>
              </select>
            </ng-template>
            <ng-template [ngIf]="f.type == 'select2'">
              <label [for]="f.formControl">
                {{ f.label }}
              </label>
              <angular2-multiselect [data]="f.data" [formControlName]="f.formControl" [id]="f.formControl"
                [settings]="f.config">
              </angular2-multiselect>
            </ng-template>
          </div>
          <div class="col-md-12">
            <button class="btn btn-default" type="submit">Tìm kiếm</button>
            <button (click)="removeFilter()" class="btn btn-default" type="button">Xóa lọc</button>
          </div>
        </form>
      </div>
      <div class="col-xs-6 col-xs-offset-6">
        <button (click)="createProductTag()" class="btn btn-primary pull-right" type="button">
          <i class="fa fa-plus"></i> Thêm mới
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body no-padding">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th style="width: 10%">#</th>
          <th style="width: 35%">Tên tag</th>
          <th style="width: 20%">Sản phẩm</th>
          <th style="width: 15%">Trạng thái</th>
          <th style="width: 20%">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list; let i = index" class="odd">
          <td style="text-align: center">{{i + 1}}</td>
          <td>
            <p>
              <a [href]="item.full_path" target="_blank">{{ item.name }}</a>
            </p>
            <p>{{ item.created_at | date : "yyyy-MM-dd HH:mm:ss" }}</p>
          </td>
          <td  class="text-center">
            <button (click)="showProduct(item)" class="btn btn-default btn-sm" type="button">Xem</button>
          </td>
          <td class="text-center">
            <ui-switch (change)="onStatusChange(item,i,$event)" *ngIf="item.status == 0"></ui-switch>
            <ui-switch (change)="onStatusChange(item,i,$event)" *ngIf="item.status == 1"
                       [checked]="item.status"></ui-switch>
          </td>
          <td class="text-center">
            <button (confirm)="upOrder(item)" cancelText="No <i class='fa fa-remove'></i>"
              class="btn btn-default btn-sm" confirmText="Yes <i class='fa fa-check'></i>" mwlConfirmationPopover
              placement="top" popoverMessage="Bạn thực sự muốn tăng thứ tự?" popoverTitle="Thay đổi thứ tự"
              type="button" style="width: 30px; height: 30px; padding: 0;">
              <i class="fa fa-arrow-up"></i>
            </button>
            <button (confirm)="downOrder(item)" cancelText="No <i class='fa fa-remove'></i>"
              class="btn btn-default btn-sm" confirmText="Yes <i class='fa fa-check'></i>" mwlConfirmationPopover
              placement="top" popoverMessage="Bạn thực sự muốn giảm thứ tự?" popoverTitle="Thay đổi thứ tự"
              type="button" style="width: 30px; height: 30px; padding: 0;">
              <i class="fa fa-arrow-down"></i>
            </button>
            <button (click)="editProductTag(item)" class="btn btn-default btn-sm" type="button" style="width: 30px; height: 30px; padding: 0;">
              <i class="fa fa-pencil-square-o"></i>
            </button>
            <button (confirm)="remove(item, i)" cancelText="No <i class='fa fa-remove'></i>"
              class="btn btn-danger btn-sm" confirmText="Yes <i class='fa fa-check'></i>" mwlConfirmationPopover
              placement="top" popoverMessage="Bạn thực sự muốn xóa?" popoverTitle="Xóa" style="width: 30px; height: 30px; padding: 0;" type="button">
              <i aria-hidden="true" class="fa fa-remove"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6">
        <pagination (numPages)="pagination.numPages = $event" (pageChanged)="pageChanged($event)"
          [(ngModel)]="pagination.currentPage" [boundaryLinks]="true" [itemsPerPage]="pagination.itemsPerPage"
          [maxSize]="pagination.maxSize" [totalItems]="pagination.totalItems" class="pagination-sm"></pagination>
      </div>
      <div class="col-xs-6">
        <div class="box-go-to">
          <input [(ngModel)]="nextPage" class="col-xs-2" type="number" />
          <span class="col-xs-1">/</span>
          <input [(ngModel)]="pagination.numPages" class="col-xs-2" disabled type="text" />
          <div class="col-xs-4">
            <button (click)="goToPageNumber()">Đến</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
