.bg-light {
  background: white;
}

.quantity {
  font-size: 15px;
}

.info-box-number {
  font-size: 20px;
  margin-top: 5px;
}

.info-box-note {
  margin: 5px 0 0;
}

.increase {
  color: #31c014;
}

.decrease {
  color: #c01414;
}

.text-danger {
  color: red;
}

.text-warning {
  color: rgb(255, 153, 0);
}

.text-success {
  color:  rgb(36, 206, 36);
}

.form-chart {
  height: 500px;
}

.title-chart {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  line-height: 20px;
  background: #d2ffc8;
}

.chartProduct {
  margin: 15px 0 10px
}

::-webkit-scrollbar {
  width: 0px;
}
