<div class="modal-header bg-primary">
  <h4 class="modal-title pull-left">Gắn sản phẩm</h4>
  <button (click)="dismiss()" aria-label="Close" class="close pull-right" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="load()" [formGroup]="formGroup" novalidate>
        <div *ngFor="let f of fields" class="form-group col-md-6">
          <ng-template [ngIf]="f.type=='input'">
            <label [for]="f.formControl">
              {{f.label}} <span *ngIf="f.typeof == 'number'" style="font-weight: normal">
                ( {{formGroup.controls[f.formControl].value|number:'1.0-0'}} )
              </span>
            </label>
            <input [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
              [placeholder]="f.placeHolder" [type]="f.typeof" class="form-control">
          </ng-template>
          <ng-template [ngIf]="f.type=='select'">
            <label [for]="f.formControl">
              {{f.label}}
            </label>
            <select [formControlName]="f.formControl" [id]="f.formControl" class="form-control">
              <option *ngFor="let option of f.data" [value]="option['id']">{{option['name']}}</option>
            </select>
          </ng-template>
        </div>
        <div class="col-xs-12">
          <button [disabled]="!formGroup.valid" class="btn btn-default" type="submit">Tìm kiếm</button>
          <button (click)="removeFilter()" class="btn btn-default">Xóa lọc</button>
        </div>
      </form>
    </div>
    <div class="col-xs-12 margin-bottom">
      <button (click)="assign(listAvailableProducts, 1)" class="btn btn-primary pull-right"
      [disabled]="listAvailableProducts == ''" type="button">Thêm tất cả</button>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th style="width: 10%;">#</th>
          <th style="width: 15%;">Ảnh sản phẩm</th>
          <th style="width: 35%;">Tên sản phẩm</th>
          <th style="width: 10%;">Giá bán</th>
          <th style="width: 20%;">Khuyến mãi</th>
          <th style="width: 10%;">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listAvailableProducts;let i = index" class="odd">
          <td style="text-align: center;">{{i + 1}}</td>
          <td style="text-align: center;">
            <img [src]="item.image" class="img-thumb" width="100px">
          </td>
          <td>
            <p>{{item.name}}</p>
          </td>
          <td style="text-align: right;">
            <p>{{item.price|number:'1.0-0'}}</p>
          </td>
          <td>
            <p *ngFor="let value of item.promotions">{{value.name}}</p>
          </td>
          <td style="text-align: center;">
            <button (confirm)="assign(item, 2)" *ngIf="item.promotions[0] != null"
              cancelText="No <i class='fa fa-remove'></i>" class="btn btn-primary btn-sm"
              confirmText="Yes <i class='fa fa-check'></i>" mwlConfirmationPopover placement="top"
              popoverMessage="Sản phẩm đã có trong chương trình khuyến mai khác, bạn có muốn gắn?"
              popoverTitle="Gắn sản phẩm" type="button">
              <i aria-hidden="true" class="fa fa-plus">Thêm</i>
            </button>
            <button (click)="assign(item, 2)" *ngIf="item.promotions[0] == null" class="btn btn-primary btn-sm" type="button">
              <i aria-hidden="true" class="fa fa-plus"> Thêm</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button (click)="dismiss()" class="btn btn-default" type="button">Hủy bỏ</button>
</div>
