<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li>
        <div class="row">
          <div class="col-xs-12">
          </div>
        </div>
      </li>
      <li class="header">TÍNH NĂNG CHÍNH</li>
      <li *ngFor="let ft of features; let i=index;" [routerLinkActive]="['active']" class="treeview">
        <a *ngIf="ft['link']" [routerLink]="[ft['link']]">
          <i [class]="ft['icon']" class="fa"></i>
          <span>{{ft['name']}}</span>
        </a>
        <a *ngIf="!ft['link']" href="javascript:void(0)">
          <i [class]="ft['icon']"></i> <span>{{ft['name']}}</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul *ngIf="!ft['link']" class="treeview-menu">
          <li *ngFor="let child of ft['children']" [ngClass]="{'treeview':!child['link']&&child['children']}"
              [routerLinkActive]="['active']">
            <a *ngIf="child['link']" [routerLink]="[child['link']]">
              <i [class]="child['icon']" class="fa"></i>
              <span>{{child['name']}}</span>
            </a>
            <a *ngIf="!child['link']" href="javascript:void(0)">
              <i [class]="child['icon']"></i> <span>{{child['name']}}</span>
              <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul *ngIf="!child['link']" class="treeview-menu">
              <li *ngFor="let children of child['children']" [routerLinkActive]="['active']">
                <a [routerLink]="[children['link']]">
                  <i [class]="children['icon']"></i>{{children['name']}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
