<div class="modal-header bg-primary">
  <h4 class="modal-title pull-left">Thêm bài đăng liên quan</h4>
  <button (click)="dismiss()" aria-label="Close" class="close pull-right" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12 margin-bottom">
      <form (ngSubmit)="load()" [formGroup]="formGroup" novalidate>
        <div *ngFor="let f of fields" class="form-group col-md-6">
          <ng-template [ngIf]="f.type=='input'">
            <label [for]="f.formControl">
              {{f.label}} <span *ngIf="f.typeof == 'number'" style="font-weight: normal">
                ( {{formGroup.controls[f.formControl].value|number:'1.0-0'}} )
              </span>
            </label>
            <input [formControlName]="f.formControl" [id]="f.formControl" [name]="f.formControl"
              [placeholder]="f.placeHolder" [type]="f.typeof" class="form-control">
          </ng-template>
          <ng-template [ngIf]="f.type=='select'">
            <label [for]="f.formControl">
              {{f.label}}
            </label>
            <select [formControlName]="f.formControl" [id]="f.formControl" class="form-control">
              <option *ngFor="let option of f.data" [value]="option['id']">{{option['name']}}</option>
            </select>
          </ng-template>
        </div>
        <div class="col-xs-12">
          <button [disabled]="!formGroup.valid" class="btn btn-default" type="submit">Tìm kiếm</button>
          <button (click)="removeFilter()" class="btn btn-default">Xóa lọc</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th style="width: 10%;">#</th>
          <th style="width: 20%;">Ảnh</th>
          <th style="width: 30%;">Tiêu đề</th>
          <th style="width: 20%;">Danh mục</th>
          <th style="width: 20%;">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list;let i = index" class="odd">
          <td class="text-center">{{i + 1}}</td>
          <td class="text-center">
            <img [src]="item.image" height="70px">
          </td>
          <td>
            {{item.name}}
          </td>
          <td>
            {{item.category.name}}
          </td>
          <td class="text-center">
            <button (click)="addRelated(item)" class="btn btn-success" type="button">Thêm</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button (click)="dismiss()" class="btn btn-default" type="button">Hủy bỏ</button>
</div>
