<div class="modal-header bg-primary">
  <h4 class="modal-title pull-left">Chỉnh sửa đối tác</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="formGroup" novalidate>
        <div class="form-group" *ngFor="let f of fields"
             [ngClass]="{'has-error':!formGroup.controls[f.formControl].valid && !formGroup.controls[f.formControl].disabled}">
          <ng-template [ngIf]="f.type=='input'">
            <label [for]="f.formControl">
              {{f.label}} <span
              style="font-weight: normal" *ngIf="f.typeof == 'number'">
              ( {{formGroup.controls[f.formControl].value|number:'1.0-0'}} )
            </span>
            </label>
            <input [id]="f.formControl" [name]="f.formControl" [formControlName]="f.formControl" class="form-control"
                   [placeholder]="f.placeHolder" [type]="f.typeof">
          </ng-template>
          <ng-template [ngIf]="f.type=='textarea'">
            <label [for]="f.formControl">
              {{f.label}}
            </label>
            <textarea [id]="f.formControl" [name]="f.formControl" [formControlName]="f.formControl" class="form-control"
                      [placeholder]="f.placeHolder" [rows]="5">
          </textarea>
          </ng-template>
          <ng-template [ngIf]="f.type=='file'">
            <label [for]="f.formControl">
              {{f.label}}
            </label>
            <input [id]="f.formControl" [name]="f.formControl" class="form-control"
                   [placeholder]="f.placeHolder" type="file"
                   (change)="f.config['onFileChange'](formGroup,f.formControl,$event)"
                   accept="{{f.config['accept']}}">
          </ng-template>
          <ng-template [ngIf]="f.type=='checkbox'">
            <div class="checkbox">
              <label>
                <input type="checkbox" [id]="f.formControl" [name]="f.formControl" [formControlName]="f.formControl">
                {{f.label}}
              </label>
            </div>
          </ng-template>
          <ng-template [ngIf]="f.type=='select'">
            <label [for]="f.formControl">
              {{f.label}}
            </label>
            <select [id]="f.formControl" [formControlName]="f.formControl" class="form-control">
              <option *ngFor="let option of f.data" [value]="option['id']">{{option['name']}}</option>
            </select>
          </ng-template>
          <ng-template [ngIf]="f.type=='select2'">
            <label [for]="f.formControl">
              {{f.label}}
            </label>
            <angular2-multiselect [id]="f.formControl" [formControlName]="f.formControl"
                                  [data]="f.data" [settings]="f.config">
            </angular2-multiselect>
          </ng-template>
          <ng-template [ngIf]="f.type=='html'">
            <label [for]="f.formControl">
              {{f.label}}
            </label>
            <ckeditor [id]="f.formControl" [formControlName]="f.formControl"
                      debounce="500">
            </ckeditor>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="!formGroup.valid" (click)="edit()">Chỉnh sửa</button>
  <button type="button" class="btn btn-default" (click)="dismiss()">Hủy bỏ</button>
</div>
