.modal-child-lg {
  width: 95%;
}

.modal-child-small {
  width: 85%;
}

.modal-child-sm {
  width: 75%;
}

.modal .modal-huge {
  width: 95%;
}

.table-bordered thead {
  background: #ddd;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border-color: #ddd;
}

.th-thumb {
  width: 150px;
}

img.thumb {
  width: 100px
}

.th-small-center {
  width: 120px;
  text-align: center !important;
}

.cursor-poiter {
  cursor: pointer;
}

.warrper {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.bar {
  background: #dddddd;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 8px 15px;
}

.inner {
  padding: 15px;
}

.head-title {
  background: #dddddd;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 8px 15px;
}

.table-bordered input[type=text] {
  text-align: center;
}

.divDemo {
  position: absolute;
  right: 40px;
  top: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

label.text-right {
  display: block;
}

.box-go-to {
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  word-break: break-word;
}

.img-thumb {
  width: 65px;
  max-height: 65px;
}

table.table thead tr th {
  text-align: center;
}
